Source: aolserver4-nsimap
Section: net
Priority: optional
Maintainer: Riccardo Setti <giskard@autistici.org>
Uploaders: Francesco Paolo Lovergine <frankie@debian.org>
Build-Depends: debhelper (>= 7), libc-client-dev, aolserver4-dev (>= 4.5.1-5)
Standards-Version: 3.8.2
Homepage: http://www.aolserver.com/

Package: aolserver4-nsimap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${aolserver:Depends}
Description: This is AOLserver 4 module that implements IMAP4 interface
 Nsimap provides an IMAP4 interface for aolserver4.
 It is based on UW IMAP c-client library from
 http://www.washington.edu/imap/. It allows using AOLserver 
 as an IMAP client and building web based IMAP applications.
